@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family:Montserrat ;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

.three-line{
    display: none;
}
.navbar{
    width: 100%;
    
    background-color: #fff;
}
body{
    width: 100%;
}
.nav{
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 10px;
}
.list{
    display: flex;
    gap: 25px;
}
.lists{
    color: #000;
    font-size: 14px;
}
.lists:hover {
    background-color: #3944f7;
    color: #fff;
    transition: 0.9s;
    
  }
.btn{
    width: 120px;
    height: 30px;
    background-color: #3944f7;
    border: 0;
    border-radius: 3px;
    color: #fff;
}
.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px #3944f7;
}
